<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rongdian"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rongdian.PadActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="CreateConfActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.contactManage.ContactManageActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="cn.edu.bupt.mmc.docshare.gui.DocShareActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="cn.edu.bupt.mmc.docshare.gui.FileBrowserActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="cn.bupt.mmc.desktopshare.gui.DesktopShareActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" 
            android:screenOrientation="landscape" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

</manifest>