<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rongdian"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="Login"
            android:label="@string/title_activity_login"          
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="MediaConfActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape"
             >
        </activity>
        
        <activity 
            android:name="PhoneActivity"
            android:screenOrientation="landscape">
        </activity>
        
        <activity
            android:name="com.activity.CreateConfActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.activity.ChooseMemberActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.activity.MyContactActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.activity.MyGroupActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.activity.ConfManageActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.activity.AccountManageActivity"
            android:screenOrientation="portrait">
        </activity>
        
       <activity
            android:name="com.activity.ContactManageActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.activity.AddFriendActivity"
            android:screenOrientation="portrait">
        </activity>
        
       <activity
            android:name="com.activity.AddGroupActivity"
            android:screenOrientation="portrait">
        </activity>
        
       <activity
            android:name="com.activity.AddContactActivity"
            android:screenOrientation="portrait">
        </activity>
        
        
        <service android:name ="com.service.RefreshService" > 
            <intent-filter > 
                <action android:name ="com.http.RefreshService" /> 
            </intent-filter > 
        </service > 
        
    </application>

    
   	<uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.sip.voip" android:required="true" />
    <uses-feature android:name="android.hardware.wifi" android:required="true" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />
</manifest>